{%extends "blog/base.html"%}
{%block content%}
<div class="d-flex justify-content-between">
  <h1 class="mt-4 my-auto">{{object.title}}</h1>
  {% if object.author == user %}
  <div>
    <a href="{% url 'post-update' object.id %}" role="button" class="btn btn-outline-warning my-auto">Edit</a>
    <a href="{% url 'post-delete' object.id %}" role="button" class="btn btn-outline-danger my-auto">Delete</a>
  </div>
  {% endif %}
</div>
  <p class="lead">Posted on {{post.created_at | date:'Y-m-d'}} by {{object.author.username}}</p>
  <hr>
  <p>{{object.content}}</p>
{%endblock content%}
